<div class="hero-unit">
<h1>PinClose</h1>
<p>
	Compartilhe seus momentos com quem realmente importa!

</p>

<p>
	<%= link_to "Registre-se Agora!", '#', class: "btn btn-primary btn-large"  %>
</p>
</div>


